html,
body {
  height: 100%;
  font-family: 'open sans';
}

@media screen and (min-width: 25rem){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

.welcome {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(ellipse, $color-buttercup, $color-golder-grass);

//linii adaugate de mine
  h1 {
    color: $color-white;
    width: 100%;
    font-weight: bold;
  }

  p {
    width: 100%;
  }
//pana aici

  a.scroll-down {
    text-decoration: none;
    color: $color-white;
    background-color: $color-buttercup2;
    font-size: 1rem;
    border: 0.1rem solid $color-white;
    border-radius: 0.3rem;
    position: relative;
    padding: 0.5rem;
    padding-right: 1.9rem;
    padding-left: 0.6rem;

    &:hover {
      background-image: radial-gradient(ellipse, $color-buttercup , $color-golder-grass);
      // border: 0.1rem solid $color-buttercup;
    }

    .continue-arrow {
      &:after {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0.9rem;
        right: 0.5rem;
        display: block;
        content: '';
        width: 0px;
        height: 0px;
        border-top: 0.5rem solid $color-white;border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
      }
    }
  }

  .welcome__description {
    line-height: 1.8rem;
    margin: 1rem;
    padding: 0 1.4rem;
  }
}