doctype html
html
  //- -var baseUrl = "http://localhost:3000"
  -var baseUrl = "https://a11exandru.github.io/quick-blog"
  block config
  head
    title=title
    meta(name='description', content=description)
    link(rel="stylesheet", href= `${baseUrl}/style.css`)
  body
    include ../welcome/welcome
    .container
      block content
      include ../menu/menu
      include ../footer/footer