doctype html
html
  -
    //- var baseUrl = "http://localhost:3000"
        baseUrl = "https://a11exandru.github.io/quick-blog"
  block config
  head
    title=title
    meta(name='description', content=description)
  body
    include ../welcome/welcome
    .container
      block content
      include ../menu/menu
      include ../footer/footer
link(rel="stylesheet", href= `${baseUrl}/style.css`)