h3 Info

ul
  li
    a.menu(href="/") Home
  li
    a.menu(href="about.html") About Quick Blog
  li
    a.menu(href="/contact.html") Contact

h3 Categories

ul
  li
    a(href="/html") HTML5
  li
    a(href="/css") CSS3