//- .menu
.menu__panel
  h3.menu__title Info

  ul.menu__list
    li
      a.menu__link(href="/") Home
    li
      a.menu__link(href="about") About
    li
      a.menu__link(href="/contact") Contact

.menu__panel
  h3.menu__title Categories

  ul.menu__list
    li
      a(href="/html") HTML5
    li
      a(href="/css") CSS3