extends _component/layout/main

block config
  -
    var title='Welcome to Quick Blog'
    var description='Using stuper Quick Blog is easy and you can get 100/100 score on Google PageSpeed insights'

block content
  .content
    #continue
    h2 Firstly, let's write some content
    p 
      | The#{" "}sources of Quick Blog can be found on GitHub at 
      a(href="https://github.com/a11exandru/quick-blog") Quick Blog
      | .
    blockquote.blockquote
      .blockquote__body
        p You don't have to be good to start, you have to start to become good.
      .blockquote-footer
        a(href="https://www.facebook.com/a11exandru", target='blank') Alex Puiu
    p.lead Cum sociis nataque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor frigilla. duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    p
      small Cum sociis nataque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor frigilla. duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    a.top(href="#top")
      span Top
        span.arrow-up